/*-------------------------------------top-------------------------------------*/
.header {
	height: .8rem;
	line-height: .8rem;
	overflow: hidden;
	text-align: center;
	font-size: .36rem;
}
.mei-btn-back {
	position: absolute;
	left: 0;
	top: 0;
	width: .75rem;
	height: .8rem;
}
.ico-back {
	float: left;
	margin-left: .3rem;
	margin-top: .15rem;
	width: 13px;
	height: 23px;
	background: url("../images/arrow.png") no-repeat -5px -2px;
	background-size: 24px 24px;
}
.mei-header-search {
	position: relative;
	float: left;
	margin-top: 0;
	margin-left: .75rem;
	width: 5.7rem;
}
.mei-header-r {
	position: absolute;
	top: 0;
	right: .2rem;
	font-size: .28rem;
	z-index: 10;
}
.ipt-large {
	padding-left: .55rem;
	border: 1px solid #4a4a4a;
	height: .56rem;
	width: 5.74rem;
	font-size: .28rem;
	border-radius: .3rem;
}
.find-position {
	position: absolute;
	left: .2rem;
	top: .24rem;
}
.ico-find {
	display: inline-block;
	background: url("../images/find2.png") no-repeat -2px -2px;
	background-size: 16px 16px;
	width: 12px;
	height: 12px;
}
.close-position {
	position: absolute;
	right: .2rem;
	top: .2rem;
}
.ico-close {
	display: inline-block;
	background: url("../images/clear.png") no-repeat 0 0;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}
.navigation {
	margin-top: .1rem;
	overflow: hidden;
	background: #333;
	color: #fff;
}
.navigation li {
	float: left;
	width: 50%;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	font-size: .24rem;
}
.swiper-wrapper {
	display: -webkit-box;
}
.swiper-wrapper li {
	width: 100%;
	height: 3rem;
}
.swiper-wrapper img {
	width: 100%;
	height: 3rem;
}

/*-------------------------------------搜索页search.html-------------------------------------*/
.mei-record, .hot-search {
	position: relative;
	margin: 0 .3rem;
}
.search-tit {
	margin-top: .4rem;
	font-size: .36rem;
}
.ico-del {
	display: block;
	position: absolute;
	right: .4rem;
	top: 0;
	background: url("../images/del.png") no-repeat 0 0;
	background-size: 16px 16px;
	width: 15px;
	height: 15px;
}
.recent-search-tags span, .hot-search-tags span {
	display: block;
	margin-top: .3rem;
	max-width: 100%;
	overflow: hidden;
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
	font-size: .28rem;
}
.recent-search-tags a, .hot-search-tags a {
	height: .7rem;
	line-height: .7rem;
	border-radius: 3px;
	display: block;
	width: 100%;
	color: #686868;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #f0f2f5;
	padding-left: .2rem;
	padding-right: .2rem;
	overflow: hidden;
}

/*-------------------------------------联动-------------------------------------*/
.active {
	color: red;
}
.device {
	display: none;
	position: absolute;
	left: 0;
	top: 1.7rem;
	width: 100%;
	overflow: hidden;
	background: #fff;
	height: 60%;
	font-size: .36rem;
}
.device div {
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-y: auto;
}
.deviceLeft {
	width: 30%;
	float: left;
	padding-left: .2rem;
	border-right: 1px solid #ebebeb;
}
.deviceLeft ul li {
	width: 100%;
	border-bottom: 1px solid #ebebeb;
	padding: .3rem 0px;
}
.deviceCenter {
	background: #fafafa;
	width: 70%;
	float: left;
	padding-left: .2rem;
	border-right: 1px solid #e7e7e7;
}
.deviceCenter ul li {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	padding: .3rem 0px;
}
.deviceRight {
	background: #f0f0f0;
	width: 40%;
	float: left;
	padding-left: .2rem;
	display: none;
}
.deviceRight ul li {
	width: 100%;
	border-bottom: 1px solid #e7e7e7;
	padding: .2rem 0px;
}

/*-------------------------------------new_device.html-------------------------------------*/
.screen-li {
	float: left;
	margin: .3rem .2rem 0 .2rem;
	width: 43%;
	height: 1rem;
	text-align: center;
	font-size: .36rem;
	background: #ccc;
}
.ico-arrow {
	margin-left: .2rem;
	display: inline-block;
	background: url("../images/arrows.png") no-repeat 0 0;
	background-size: 21px 12px;
	width: 21px;
	height: 12px;
}
.rotate {
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
}
.show {
	display: block;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

/*-------------------------------------搜索结果default.html-------------------------------------*/
.default-ul {
	margin-top: 1rem;
	font-size: .36rem;
}
.default-ul li {
	float: left;
	width: 50%;
	height: 2rem;
	background: #ccc;
	text-align: center;
	font-size: .36rem;
}